@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET browser defaults that break dark mode */
* {
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

input, button {
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  font-family: inherit;
}

